.leaderboard-title {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
    line-height: 200%;
    font-weight: bold;
    text-align: center;
    background: white;
    color: black;
}

.leaderboard-table.MuiTable-root .MuiTableCell-root {
    padding: 3px 8px;
}

.leaderboard-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    font-size: 10px;
}

.leaderboard-button {
    background: #fffbfb;
}

.leaderboard-icon.MuiSvgIcon-root {
    color: black;
    height: 100%;
    width: 100%;
}
