.metatable.MuiTableBody-root {
    border-top: 1px solid rgba(128, 128, 128);
    border-bottom: 1px solid rgba(128, 128, 128);
    background-color: #3590f3;
}

.metatable .MuiTableCell-root {
    padding: 3px 20px;
    border: none;
    color: white;
}
